body {
  border-style: double;
  border-width: 5px;
  padding: 20px;
  border-color: black;
}

img {
    max-width: 100%;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 5px;
}

h1, h3 {
  text-align: center;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

h4 {
  text-align: left;
  color: rgb(1, 9, 89);
  font-family: Helvetica, Arial, sans-serif;
}

h5, p {
  text-align: left;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

ul {
  text-align: left;
  color: rgb(8, 19, 38);
  font-family: Helvetica, Arial, sans-serif;
}

.ans {
  color: red;
}


a {
  color: blue;
}
